body, html {padding: 0px;
margin: 0px;}

body {background-color: white;}

p, h1, h2, h3 {color: black;
font-family: Arial, Helvetica, sans-serif;
width: 80%;
margin: auto;
margin-top: 1%;}

h1, h2 {margin-top: 2%;
margin-bottom: 2%;}

h1 {font-size: 34px;}

p {font-size: 18px;}

.tack {font-size: 18px;
text-align: center;
margin-top: 2%;
margin-bottom: 2%;
border: 2px, solid, blue;
border-radius: 20px;
width: 40%;
padding-bottom: 10px;
padding-top: 10px;}

.lat {margin-top: 8px;
margin-bottom: 8px;
font-size: 18px;}

.gamlasidan {font-family: Arial, Helvetica, sans-serif;
width: 80%;
display: block;
margin: auto;
margin-top: 2%;
margin-bottom: 2%;
font-size: 18px;}

.mem {font-size: 18px;
text-align: center;
margin-top: 2%;
margin-bottom: 2%;
border: 2px, solid, blue;
border-radius: 20px;
width: 40%;
padding-bottom: 10px;
padding-top: 10px;
margin: auto;}

.lank {width: 20%;
border: 2px, solid, blue;
border-radius: 20px;
margin-left: 10%;
text-align: center;
margin-top: 2%;
padding-top:10px;
padding-bottom: 10px;
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
padding-left: 20px;
padding-right: 20px;
display: block;}

@media only screen and (max-width: 600px) {
  .tack {
    width: 80%;
  }
  .lank {width: 45%;}
}

footer {background-color: lightslategray;}

footer>h2 {padding-top: 20px;
padding-bottom: 20px;}

footer>p {padding-bottom: 20px;
font-size: larger;}