* {box-sizing: border-box;}

html, body {padding: 0;
margin: 0;}

body {background-color: white;}

h1, h2, h3, h4, p, a {font-family: Arial, Helvetica, sans-serif;
margin: auto;
width: 80%;}

#pass {width: 50%;
margin: auto;
font-size: larger;
margin-top: 5%;}

.lank {width: 20%;
border: 2px, solid, blue;
border-radius: 20px;
margin-left: 10%;
text-align: center;
margin-top: 2%;
padding-top:10px;
padding-bottom: 10px;
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
padding-left: 20px;
padding-right: 20px;
display: block;}

#secret {display: none;}

a {margin: auto;
display: block;
margin-top: 1%;
margin-bottom: 1%;}

h1, h2, h3, h4 {margin-top: 1%;
margin-bottom: 1%;}

h3 {font-size: 22px;}

h4 {font-size: 19px;}

.rating {margin-top: 4px;
margin-bottom: 4px;
border: 2px, solid, black;
border-width: 2px;
width: fit-content;
padding-left: 2px;
padding-right: 2px;}

.input {width: 50%;
margin-left: 20%;}

@media only screen and (max-width: 600px) {
  #pass {width: 90%;}
}

@media only screen and (max-width: 500px) {
  p {font-size: larger;}
  h1, h2, h3, h4 {margin-top: 4%;
margin-bottom: 4%;}
}

@media only screen and (min-width: 1000px) {
  p, h1, h2, h3, h4, a {width: 60%;}
}

footer>p {padding-top: 2%;}
footer>a {padding-top: 1%;
padding-bottom: 10px;}

footer {background-color: lightgray;
margin-top: 4%;}