body, html {padding: 0px;
margin: 0px;}

body {background-color: white;}

p, h1, h2, h3 {color: black;
font-family: Arial, Helvetica, sans-serif;
width: 80%;
margin: auto;
margin-top: 1%;}

.lank {width: 20%;
border: 2px, solid, blue;
border-radius: 20px;
margin-left: 10%;
text-align: center;
margin-top: 2%;
padding-top:10px;
padding-bottom: 10px;
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
padding-left: 20px;
padding-right: 20px;
display: block;}

a {width: 20%;}

footer {background-color: lightslategray;}

footer>h2 {padding-top: 20px;
padding-bottom: 20px;}

footer>p {padding-bottom: 20px;
font-size: larger;}