body, html {padding: 0px;
margin: 0px;}

body {background-color: white;}

p, h1, h2, h3 {color: black;
font-family: Arial, Helvetica, sans-serif;
width: 80%;
margin: auto;
margin-top: 1%;}

p {font-size: 18px;}

a {font-family: Arial, Helvetica, sans-serif;
width: 80%;
display: block;
margin: auto;
margin-top: 1%;
margin-bottom: 1%;
font-size: 18px;}

.quote {font-style: italic;
font-size: 18px;
margin-top: 22px;
margin-bottom: 22px;}

h1, h2 {margin-top: 2%;
margin-bottom: 2%;}

footer {background-color: lightslategray;}

footer>h2 {padding-top: 20px;
padding-bottom: 20px;}

footer>p {padding-bottom: 20px;
font-size: larger;}